{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5" id='card'>
                {% if msg != None %}
                    <div class="alert alert-{{msg.type}}">
                        {{ msg.text }}
                    </div>
                {% endif %}
                <form action="{{ url_for('login') }}" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" required>
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Scan RFID</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    card_child = document.getElementById('card').children
</script>

{% endblock content %}